<div id="contact" class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12">
      <div class="h3" style="text-align: center;">Contact</div>
      <!-- <p>If you want to ask us for more information, please feel free to send us an email using the form below.</p> -->
      <p>If you want to ask us for more information, please feel free to contact us through our <a href="https://www.facebook.com/PinkPistolsSanDiego/">Facebook page</a> or use our contact form below</p>
    </div>
  </div>
  <form name="sendMessage" id=contactForm>
    <div class="row-fluid">
      <div class="col-sm-6 align-center">
        <div class="row-fluid control-group">
          <label>Full Name</label>
          <br>
          <input type="text" id="contact-fullname" class="form-control"></input>
        </div>
        <div class="row-fluid control-group">
          <label>Email</label>
          <br>
          <input type="text" id="contact-email" class="form-control"></input>
        </div>
      </div>
      <div class="col-sm-6 align-center">
        <div class="row-fluid control-group">
          <label>Content</label>
          <br>
          <textarea id="contact-body" rows="4" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row-fluid control-group text-center">
      <input id="contact-submit" type="submit" value="Submit" class="btn btn-primary"></input>
    </div>
  </form>
</div>
