<div id="events" class="row-fluid">
  <div class="col-xs-12">
    <div class="h3" style="text-align: center;">Events</div>
  </div>
  <div class="col-md-6">
    <p>The San Diego chapter of Pink Pistols offers various classes and events that teach self defense, both with and without firearms.</p>
    <p>While we do not restrict anyone based on their LGBT status, please understand that anyone who comes to any of our events <u>must be legally allowed to possess a firearm or ammunition, whether or not firearms are being used at that particular event</u>. Information on who may or may not possess firearms or ammunition can be found <a target="_blank" href="https://oag.ca.gov/sites/all/files/agweb/pdfs/firearms/forms/prohibcatmisd.pdf">here</a>.</p>
    <p>If you want to join us for any of our upcoming events, please RSVP to them on our Facebook page.</p>
  </div>

  <div class="col-md-6">
    {% include facebook-events.html %}
  </div>
</div>
