<div id="events" class="row-fluid">
  <div class="col-xs-12">
    <div class="h3" style="text-align: center;">Events</div>
    <p>The San Diego chapter of Pink Pistols offers various classes and events that teach self defense, both with and without firearms.</p>
    <p>While we do not restrict anyone based on their LGBT status, please understand that anyone who comes to any of our events <u>must be legally allowed to possess a firearm or ammunition, whether or not firearms are being used at that particular event</u>. More information on this subject can be accessed <a target="_blank" href="https://oag.ca.gov/sites/all/files/agweb/pdfs/firearms/forms/prohibcatmisd.pdf">here</a>.</p>
    <p>If you want to join us for any of our upcoming events, be sure to join our training group on Facebook.</p>
    <div id="training-group" class="text-center">
      <a target="_blank" href="https://www.facebook.com/groups/1044161908998026/"><button type="button" class="btn btn-primary">{% include facebook-training.html %}</button></a>
    </div>
  </div>
</div>
