<div id="fb-events" class="text-center ppfb-button">
  <!-- <a target="_blank" href="https://www.facebook.com/pg/PinkPistolsSanDiego/events"><button type="button" class="btn btn-primary">{% include facebook-standard.svg %}Click To View Our Events!</button></a> -->
  <!-- <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=223149364841704";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->

    <a target="_blank" href="https://www.facebook.com/PinkPistolsSanDiego/events"><button type="button" class="btn btn-primary">{% include facebook-standard.svg %}Click To View Our Events!</button></a>

  <div class="fb-page" data-href="https://www.facebook.com/PinkPistolsSanDiego/" data-tabs="events" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/PinkPistolsSanDiego/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PinkPistolsSanDiego/">Pink Pistols San Diego - Pro Self Defense LGBT Civil Rights Group</a></blockquote></div>
</div>
