<div id="joinus" class="container-fluid">
  <!-- <div id="fb-like"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=223149364841704";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->
  <div class="row-fluid">
    <div class="col-xs-12">
      <div class="h3" style="text-align: center;">Join Us</div>
      <div>
        <p style="text-align: center;">Want to learn self defense or go shooting with us? Request to join our Facebook training group! Click the button below.</p>
        {% include facebook-training.html %}
      </div>
      <div>
        <p style="text-align: center;">Like Second Amendment/LGBT political discussion? Join the Pink Pistols discussion group.</p>
        {% include facebook-discussion.html %}
      </div>
      <div>
        <p style="text-align: center;">Support us but don't want to commit to anything? That's okay, just like our Facebook page!</p>
        {% include facebook-like.html %}
      </div>
    </div>
  </div>
</div>
