<!-- <header class="site-header" role="banner"> -->

    <nav id="nav" class="navbar navbar-default navbar-fixed navbar-custom" data-spy="affix" data-offset-top="197">
        <div class="container-fluid">
            <!-- <div class="row-fluid center" style="text-align:center;">
              {% include shootback-raw-wide.html %}
            </div> -->

            <div class="row-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand hidden-xs" href="#page-top">Pink Pistols - San Diego Chapter</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                      <li class="page-scroll">
                          <a href="#about">About</a>
                      </li>
                      <li class="page-scroll">
                          <a href="#events">Events</a>
                      </li>
                      <li class="page-scroll">
                          <a href="#contact">Contact</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
          </div>
        <!-- /.container-fluid -->
    </nav>

<!-- </header> -->
