$body-bg: black;
$content-bg: #efe9e2;
$navbar-default-bg: black;

$navbar-default-brand-color: #dfb834;
$navbar-default-brand-hover-color: #ffafb8;
$list-group-active-text-color: #dfb834;

$font-size-base: 17px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;

$link-color: #a13d61;


#nav {
  margin-bottom: 0px;
  opacity: 1.0;
  z-index: 1000;
}
#nav a {
  color: $navbar-default-brand-color;
}
#nav a:hover {
  color: $navbar-default-brand-hover-color;
}
#nav li {
  color: $navbar-default-brand-color;
}
#nav li:hover {
  color: $navbar-default-brand-hover-color;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 40px;
}

.formdiv {
  padding-bottom: 10px;
}

.navbar-brand {
  color: $link-color;
}

.ppfb-button {
  padding-bottom: 20px;
}

#content {
  background-color: $content-bg;
}

#pinkpistols-head {
  width: auto;
  max-width: 100%;
  height: auto;
}

#training-group {
  svg {
    margin-right: 5px;
  }
  margin-bottom: 10px;
}

#contact-fullname {
  width: 100%;
}

#contact-email {
  width: 100%;
}

#contact-body {
  width: 100%;
  resize: none;
}

.footer-below {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.footer-below p {
  color: $navbar-default-brand-color;
}
