$body-bg: #649e92;
$content-bg: #efe9e2;
$navbar-default-bg: #649e92;

$navbar-default-brand-color: #dfb834;
$navbar-default-brand-hover-color: #ffafb8;
$list-group-active-text-color: #dfb834;

$font-size-base: 17px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;

$link-color: #a13d61;

/* Note: Try to remove the following lines to see the effect of CSS positioning */
#nav {
  margin-bottom: 0px;
  opacity: 1.0;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 40px;
}

.navbar-brand {
  color: $link-color;
}

#content {
  background-color: $content-bg;
}

#shootback-raw-wide {
  padding: 10px;
  max-height: 180px;
}

#training-group {
  svg {
    margin-right: 5px;
  }
  margin-bottom: 10px;
}
